<%- include('../shared/header.ejs') %>
<img class="horiz" width="100%" src="/images/top/horizontal/0.jpg" alt="Princesses playing go" title="Two dolls of princesses playing Go at the Kyoto Imperial Palace.">
<article>
  <h2>Queries?</h2>
  <p>
    Developed by Kevin Harris and available at
    <a href="#">GitHub</a>.
  </p>
  <p>
    Based on <em>The Game of Go: The National Game of
    Japan</em> by Arthur Smith.
  </p>
  </article>
<%- include('../shared/footer.ejs') %>
