<%- include('../shared/header.ejs') %>
<article>  
  <h2 style="text-align: center; margin-top: 1rem;" >Hi, my name is Jasper Davis and I'm 20 years old and I'm from Chippewa Falls, WI.</h2>
  <a href="https://github.com/it-sd-sqc/sqc-project-jdavis86cvtc/">Github</a>
</article>
<%- include('../shared/footer.ejs') %>
