<%- include('../shared/header.ejs') %>
<article>
  <h1>Jasper's Home Page</h1>

  <p style="text-align: center; margin-top: 1rem;" >Click <a href="/guide">Here</a> to read The Economic Consequences of the Peace</p>
</article>
<%- include('../shared/footer.ejs') %>
